*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo-site{
    font-size: 40px;
    font-weight: 900;
    padding: 10px;
}
.principal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
}